{% extends "base_generic.html" %} 

{% block title %}<title>Gavin's Local Library</title>{% endblock %}

{% block content %}

  <h1>Local Library Home</h1>
  <p>
    Welcome to Gavin's Local Library, a website developed by
    Gavin and the <em>Mozilla Developer Network</em>!
  </p>
  <p>The library has the following record counts:</p>
<ul>
  <li><strong>Books:</strong> {{ num_books }}</li>
  <li><strong>Copies:</strong> {{ num_instances }}</li>
  <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
  <li><strong>Authors:</strong> {{ num_authors }}</li>
  <li><strong>Genres:</strong> {{ num_genres }}</li>
  <li><strong>Book Titles Containing "The":</strong> {{ num_books_with_the }}</li>
</ul>

<p>
  You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
</p>
 


{% endblock %}
