
#logout-form {
  display: inline;
}

#logout-form button {
  padding: 0;
  margin: 0;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 10;
  list-style: none;
}

.sidebar-nav li {
  padding-left: 10px;
  font-weight: bold;
}

.sidebar-nav a {
  color: black;
  text-decoration: none;
}

.col-md-2 {
  padding: 0;
}

.blue-box {
  background-color: #87ceeb;
  color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  margin-right: 30%;
}

body{
  background-size:auto;
  background-position: center;
}

.main {
  padding-top: 2%;
  margin-left: 15vw;
}

.mysidebar {
  background-color: #87ceeb;
  width: 15vw;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

.mysidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mysidebar li {
  font-weight: bold;
}

.mysidebar a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.mysidebar a:hover {
  background-color: #8ca4ce;
}